/* About page */
#about {
  .main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
   /* background: static/img/fuzz.png;*/
  }
  .avatar {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
  .portrait-title {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
  .network-icon {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
}
/* Nav Bar */
.navbar {
  box-shadow: none
}
