/* Home page */
#about {
  .main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }
  .avatar {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
  .portrait-title {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
  .network-icon {
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
}

/* Nav Bar */
.navbar {
  box-shadow: none
}

/* About Me */

.featurette-content {
  max-width: 200px;
  margin: auto
}

.home-section-bg {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}
